<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        <div id="app">
            Value = [[value]]
            <div v-for="(statGroup, key) in stats" :key="key">
                <div @click="toggle(key)">[[key]]</div>
                <div v-if="getGroup(key)">
                    <div @click="value=stat" v-for="(stat, statkey) in statGroup" :key="statkey">
                        [[statkey]]
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        const app = Vue.createApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                stats: JSON.parse('{{ stats | safe }}'),
                value : 0,
                dropped : false,
                crafted : false,
                killed : false,
                broken : false,
                killed_by : false,
                picked_up : false,
                custom : false,
                used : false,
                mined : false
            }
        },
        methods:{
            toggle(group){
                this[group] = !(this[group])
            },
            getGroup(group){
                return this[group]
            }
        }
    })

 app.mount('#app') 
    </script>
</html>