<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        <div id="app">
            {% for statGroup in stats %}
                <div @click = "{{statGroup}} = !{{statGroup}}">{{ statGroup }}</div>
                <div v-if="{{statGroup}}" class="bg-blue-200">
                    {% for stat in stats[statGroup] %}
                        <div>{{stat}}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </body>
    <script>
        const app = Vue.createApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                dropped : false,
                crafted : false,
                killed : false,
                broken : false,
                killed_by : false,
                picked_up : false,
                custom : false,
                used : false,
                mined : false
            }
        }
    })

 app.mount('#app') 
    </script>
</html>